# Copy this file to each service folder as .env
# Common
NODE_ENV=development

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=circlek
DB_SSL=true

# Service ports
USER_SERVICE_PORT=7001
PRODUCT_SERVICE_PORT=7002
ORDER_SERVICE_PORT=7003
REPORT_SERVICE_PORT=7004
GATEWAY_PORT=8000
