NODE_ENV=development
AUTH_TOKEN_SECRET=change_me_for_demo
AUTH_TOKEN_TTL_HOURS=12

GATEWAY_PORT=8000
USER_SERVICE_URL=http://192.168.1.10:7001
PRODUCT_SERVICE_URL=http://192.168.1.20:7002
ORDER_SERVICE_URL=http://192.168.1.20:7003
REPORT_SERVICE_URL=http://192.168.1.10:7004
