NODE_ENV=development
AUTH_TOKEN_SECRET=change_me_for_demo
AUTH_TOKEN_TTL_HOURS=12

GATEWAY_PORT=8000
USER_SERVICE_URL=http://127.0.0.1:7001
PRODUCT_SERVICE_URL=https://product-service-7002.your-tunnel.devtunnels.ms
ORDER_SERVICE_URL=https://order-service-7003.your-tunnel.devtunnels.ms
REPORT_SERVICE_URL=http://127.0.0.1:7004
